body{
  font-family: "Montserrat";
}


#title{
  background-color:#ff4c68;
  color:#fff;
}

h1{
  font-family: 'Montserrat, sans-serif';
  font-size:3rem;
  line-height: 1.5;
}

.container-fluid{
  padding:3% 15% 7%;
}

/* navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight:bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size:1.2rem;
  font-family: "Montserrat-Light";
}

.dl-button{
  margin:5% 3% 5% 0;
}

.title-image{
  width:70%;
  position:absolute;
  right:30%;
}

/* features section */
#features{
  padding:7% 15%;
  background-color:#fff;
  position:relative;
  z-index:1;
}  /*col and features ko position dene ke baad z index ka jarurat nahi*/

.col-lg-6{
  position: relative;
}

.feature-box{
  text-align: center;
  padding:5%;
}


.icon-color{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon-color:hover{
color:#ff4c68;
}

h3{
  font-size:1.5rem;
  font-family:"Montserrat";
}

p{
  color:#8f8f8f;
}

/* testimonial */
#testimonials{
  padding:7% 15%;
  text-align: center;
  background-color: #ef8172;
  color:#fff;
}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img{
  width:20%;
  border-radius: 100%;
  margin:20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 30px; /* or 3% */
}

.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding:7% 15%;
}

/* pricing */

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-column{
  padding:3% 2%
}



/* cta section */
#cta{
  background-color: #ff4c68;
  color:#fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */

#footer{
  padding:7% 15%;
  text-align: center;

}

.social-icon{
  margin: 20px 10px;
}

.lap{
  text-decoration: none;
}


@media (max-width:1028px){

  #title{
  text-align: center;
  }

  .title-image{
    position:static;
    transform:rotate(0);
  }
}
